*{
margin: 0;
padding: 0;
}
.form{
    width:70vw;
    height: auto;
    margin:auto;
    border: 1px solid red;
    
}
form{
    display: flex;
    flex-direction: column;
    padding:20px;
    width: 100%;
    margin:auto;
}
input , button{
    margin:20px 0;
    padding: 0.5rem;
  
}
.error{
    color:red;
    text-align: right;
    font-size: 0.7rem;
    margin:1rem;
    
}

